<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eat Da Burger</title>
    <link rel="stylesheet" href="../public/assets/css/burger_style.css" />
</head>
<body>

<div class="clearfix borderbox" id="page"><!-- column -->
    <div class="clip_frame colelem" id="u94"><!-- image -->
        <img class="block" id="u94_img" src="../public/assets/img/burger.png" alt="" data-image-width="95"
             data-image-height="90"/>
    </div>
    <div class="clearfix colelem" id="u104-4"><!-- content -->
        <p>Eat-Da-Burger!</p>
    </div>
    <form class="form-grp clearfix colelem" id="widgetu118" method="post" enctype="multipart/form-data"
          action="/"><!-- none box -->
        <div class="clearfix grpelem" id="u128-4"><!-- content -->
            <p>Submitting Form...</p>
        </div>
        <div class="clearfix grpelem" id="u134-4"><!-- content -->
            <p>The server encountered an error.</p>
        </div>
        <div class="clearfix grpelem" id="u123-4"><!-- content -->
            <p>Enter a burger you want to eat Click the&nbsp; &quot;Submit&quot; button.</p>
        </div>
        <button class="submit-btn NoWrap rounded-corners clearfix grpelem" id="u133-4" type="submit" value="Submit"
                tabindex="2"><!-- content -->
            <div style="margin-top:-11px;height:11px;">
                <p>Submit</p>
            </div>
        </button>
        <div class="fld-grp clearfix grpelem" id="widgetu129" data-required="false"><!-- none box -->
            <label class="fld-label actAsDiv clearfix grpelem" id="u131-4" for="widgetu129_input"><!-- content --><span
                    class="actAsPara">Message:</span></label>
            <span class="fld-textarea actAsDiv clearfix grpelem" id="u130-4"><!-- content --><textarea
                    class="wrapped-input" id="widgetu129_input" name="custom_U129" tabindex="1"></textarea><label
                    class="wrapped-input fld-prompt" id="widgetu129_prompt" for="widgetu129_input"><span
                    class="actAsPara">Enter Your Message</span></label></span>
        </div>
    </form>
    <div class="verticalspacer" data-offset-top="380" data-content-above-spacer="380"
         data-content-below-spacer="120"></div>
     <!--all !devoured burgers-->
    <ul>
        {{#each burgers}}
        {{#unless this.devoured}}
        <li>
            {{this.burger_name}}

            <form action="/{{this.id}}?_method=PUT" method="POST">
                <input type="hidden" name="devoured" value="false">
                <button type="submit">DEVOURED!</button>
            </form>
        </li>
        {{/unless}}
        {{/each}}
    </ul>
</div>

</body>
</html>